/* Menu */
header {
  display: flex;
  flex-direction: row;
  max-height: 58px;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
}

header a img {
  background-color: #1b1b1b;
  height: 40px;
  margin: 4px 0;
  padding: 6px 0 4px 0;
}

.menu-web {
  height: 50px;
  width: 100%;
  margin: 4px 0;
  padding: 0 240px 0 40px;
  background-color: #1b1b1b;
}

.menu-web ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-web li{
  display: flex;
  align-items: center;
  height: 42px;
  margin: 4px 0;
  border-bottom: 4px solid transparent;
  transition: border-bottom .3s;
}

.menu-web li + li{
  margin-left: 24px;
}

.menu-web li:hover {
  border-bottom: 4px solid #fff;
}

nav a {
  text-decoration: none;
  color: #ebebeb;
}

.menu-mobile {
  display: none;
}

.menu-web, .menu-mobile button {
  right:200%;
  transform: translate3d(-100%,0,0);
  -webkit-transform: translate3d(-100%,0,0);
  -webkit-animation: right-to-left .7s linear forwards;
  animation: right-to-left .7s linear forwards;
}

header a img {
  top:200%;
  transform: translate3d(0,100%,0);
  -webkit-transform: translate3d(0,100%,0);
  -webkit-animation: top-to-bottom .7s linear forwards;
  animation: top-to-bottom .7s linear forwards;
}

/*Breakpoints*/
@media screen and (max-width: 1280px)
{
  header {
    max-height: 48px;
  }

  header a {
    position: relative;
    margin-right: 4px;
    width: 100%;
  }

  header a img {
    width: 100%;
    height: 30px;
    padding: 6px 0 4px 0;
  }

  .menu-mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-mobile button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }

  .menu-mobile img {
    margin: 4px 0;
    height: 24px;
    background-color: #1b1b1b;
    padding: 8px 10px;
  }

  .menu-web {
    display: none;
  }

  .menu-mobile nav {
    height: 100vh;
    background-color: #1b1b1b;
    position: fixed;
    right: -300px;
    top: 0;
    width: 90%;
    max-width: 300px;
    transform: translate(0);
    transition: transform .2s ease-out;
  }

  .menu-mobile nav button {
    width: 100%;
    cursor: pointer;
  }

  .menu-mobile nav img {
    float: right;
  }

  .menu-mobile nav li {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    transition: border-left .3s;
  }

  .menu-mobile nav li:hover {
    border-left: 4px solid #fff;
  }

  .menu-active .menu-mobile nav {
    transform: translate(-300px);
    transition: transform .2s ease-in;
  }
}
